@import url("../../asset/colors.css");

header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid var(--grey-200);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.header {
  background-color: var(--grey-white);
  padding: 18px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 390px;
}
