/* import */
@import url("../../asset/colors.css");
@import url("../../asset/App.css");

/* input global */
label {
  color: var(--grey-700);
}

.input-container {
  padding: 12px 16px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
}

.input {
  display: flex;
  width: 350px;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--grey-200);
}

.input-comp {
  display: flex;
  width: 390px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  padding: 0 20px;
}

/* input radio */
input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0;
  accent-color: var(--brand-500);
  box-sizing: border-box;
}

/* input text */
input[type="text"] {
  border: none;
  outline: none;
  font-family: var(--regular);
  font-size: 17px;
  line-height: 24px;
  color: var(--grey-700);
  width: 100%;
  box-sizing: border-box;
}

/* select */
select {
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--regular);
  font-size: 17px;
  line-height: 24px;
  color: var(--grey-700);
}

/* area select */
.area-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.area-input {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid var(--grey-200);
}

/* checkbox */
.checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: var(--brand-500);
  margin: 0;
}

input[type="number"] {
  border: none;
  outline: none;
  font-family: var(--regular);
  font-size: 17px;
  line-height: 24px;
  color: var(--grey-700);
  width: 100%;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="tel"] {
  border: none;
  outline: none;
  font-family: var(--regular);
  font-size: 17px;
  line-height: 24px;
  color: var(--grey-700);
  width: 100%;
  box-sizing: border-box;
}

/* checkbox notMatter */
.bg-grey {
  background-color: var(--grey-100);
}

.bg-dark {
  background-color: var(--grey-600);
}

.label-dark {
  /* color: var(--grey-white); */
  color: white;
}

/* textarea */
textarea {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-family: var(--regular);
  font-size: 17px;
  line-height: 24px;
  color: var(--grey-700);
}

.textarea-container {
  padding: 12px 16px;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
}

/* upload */
input::-webkit-file-upload-button {
  display: none;
}

.image-success {
  display: flex;
  width: 350px;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--brand-50);
}

/* back-buttons */
.text-back {
  padding: 8px 16px;
  background-color: var(--grey-100);
  width: fit-content;
  border-radius: 8px;
  border: none;
}

.arrow-back {
  padding: 40px 20px 0px 20px;
  box-sizing: border-box;
}

/* request & viewRequest boxes */
.request-box {
  background-color: var(--grey-100);
  padding: 20px;
  border-radius: 8px;
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
  scroll-snap-type: x mandatory;
}

.slider {
  display: flex;
  overflow-x: auto;
  width: 350px;
  box-sizing: border-box;
  height: 310px;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  border-radius: 4px;
  max-width: 310px;
  height: 310px;
}

/* profile */
.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}